.section_fond_rouge {
    border: 1px solid black;
    background-color: rgb(223, 58, 58);
    margin-bottom: 4em;
    position: static;
}

.photo_fond_rouge img {
    max-width: 100%;
    width: 50%;
    position: relative;
    top: 3em;
    left: 2em;
}

button{
    background-color: rgb(223, 58, 58);
}

.titre_section {
    text-align: center;
    padding-top: 0.5em;
    font-size: 5em;
}