{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
	<!-- Lien fichier CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style_home/style_home.css') }}">
{% endblock %}

{% block body %}
<h1 class="titre_page">Accueil</h1>

<section class="section_fond_orange">
	<figure class="photo_fond_orange">
		<img class="img_orange" src="{{ asset('images/img1-orange.jpeg') }}" alt="Photo d'une femme noire avec un foulard bleu et un make-up on fleek" title="Photoshoot d'une femme noire">
	</figure>
</section>

<section id="portfolio" class="section_vente">
	<div class="section-titre">
		<h1>Meilleur vente</h1>
	</div>

	<div
		class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
		{# Caroussel 1 #}
		<figure class="col-lg-4 col-md-6 portfolio-item filter-wordpress">
			<figcaption class="fig_1">
				<p class="photo_titre">Mode</p>
				<p class="photo_resume">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
				{# <a href="{{ path('mode', 'product') }}" class="photo_shop">Shop now</a> #}
			</figcaption>

			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner portfolio-wrap">
					<div class="carousel-item active">
						<img <img src="{{ asset('images/mode/women.jpg') }}" class="img-fluid" alt=""> </div> <div class="carousel-item">
