{% extends "base.html.twig" %}

{% block title %}
    Créez un compte
{% endblock %}

{% block body %}
    {# <h1 class="titre_page">Inscription</h1> #}
    <div class="container p-5">
        <h2>Créez votre compte</h2>

        {{ form(formView) }}

        <button type="submit" class="btn btn-success">Valider !</button>
    </div>
{% endblock %}