{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {# <h1 class="titre_page">Compte</h1> #}


    <div class="container p-5">

        <h2>Connexion</h2>

        {{ form(formView) }}

        <a href="{{ path('compte') }}">
            <button type="button" class="btn btn-dark">Connexion</button>
        </a>
        <a href="{{ path('compte_create') }}">
            <button type="button" class="btn btn-warning">Créer un compte</button>
        </a>
    </div>
{% endblock %}
