{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
 <div class="container">
        <h1>Nous contacter</h1>

        {{ form(form) }}


    </div>
{% endblock %}
