{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact
{% endblock %}

{% block body %}
	<div class="container p-5">
		<h1>Nous contacter</h1>

		{{ form_start(form) }}


		{{ form_widget(form)}}

		<button type="submit" class="btn btn-dark">Envoyer mon message !</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
