{% extends 'base.html.twig' %}

{% block body %}  

    <main>
        <div class="container d-flex" style="background-color:#DAA41E;">
            <img src="images/femmes.jpeg" width="40%" alt="" bg-color="orange">
            <div class="text-center p-5">
                <h1>{{ name }}</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora temporibus mollitia, at aliquid voluptates quidem delectus quam similique perspiciatis praesentium, vero inventore repellat? Quisquam accusamus at voluptates nam sed odio? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores minus eveniet voluptas culpa, ex saepe nesciunt cum obcaecati dolore adipisci, voluptatem quam inventore ipsam rem laudantium aut rerum sint quibusdam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur accusantium odio nesciunt natus accusamus. Fugit quos inventore sequi labore. Unde totam corrupti hic maiores praesentium suscipit quae molestiae accusamus voluptas?</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm p-3 border">
                    Filtres
                </div>
                <div class="col-sm p-3 border">
                    Lorem ipsum
                </div>
                <div class="col-sm p-3 border">
                    Lorem ipsum
                </div>
                <div class="col-sm p-3 border">
                    Lorem ipsum
                </div>
            </div>
        </div>



       
        <div class = "d-flex justify-content-around p-3" >
            <div class="card" style="width: 18rem;">
                <img src="https://placehold.it/280x300 " class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://placehold.it/280x300" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://placehold.it/280x300" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </main>
{% endblock %}