{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Create new Product</h1>

<div class="container">

    {{ include('product/_form.html.twig') }}
</div>

    <a href="{{ path('product_index') }}">back to list</a>
{% endblock %}
