{% extends 'base.html.twig' %}

{% block title %}
	New Product
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" crossorigin="anonymous">
{% endblock %}

{% block body %}
	<div class="container border shadow col-8">
		<div class="alert">
			<h1 class="text-center my-5">Créer un nouveau Produit</h1>
			<div>
				{{ include('product/_form.html.twig') }}
			</div>
			<a class="btn btn-dark my-2" href="{{ path('product_index') }}">Retour</a>
		</div>
	</div>
{% endblock %}
