{% extends 'base.html.twig' %}


{% block header %}
    <main>
        <div class="container d-flex" style="background-color:#DAA41E;">
            <img src="images/femmes.jpeg" width="40%" alt="" bg-color="orange">
            <div class="text-center p-5">
                <h1>Beauty Product</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora temporibus mollitia, at aliquid voluptates quidem delectus quam similique perspiciatis praesentium, vero inventore repellat? Quisquam accusamus at voluptates nam sed odio? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores minus eveniet voluptas culpa, ex saepe nesciunt cum obcaecati dolore adipisci, voluptatem quam inventore ipsam rem laudantium aut rerum sint quibusdam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur accusantium odio nesciunt natus accusamus. Fugit quos inventore sequi labore. Unde totam corrupti hic maiores praesentium suscipit quae molestiae accusamus voluptas?</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm p-3 border">
                    Filtres
                </div>
                <div class="col-sm p-3 border">
                    Lorem ipsum
                </div>
                <div class="col-sm p-3 border">
                    Lorem ipsum
                </div>
                <div class="col-sm p-3 border">
                    Lorem ipsum
                </div>
            </div>
        </div>
{% endblock %}
{% block body %}  
        <div class="container d-flex justify-content-around p-4">
            <figure class="figure">
                <img src="images/produit2.jpeg" class="rounded floart-center img-thumbnail" width="75%" alt="...">
                <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
            </figure>
            <figure class="figure">
                <img src="images/produit4.jpeg" class="rounded floart-center img-thumbnail" width="75%" alt="...">
                <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
            </figure>
            <figure class="figure">
                <img src="images/produit1.jpeg" class="rounded floart-center img-thumbnail" width="75%" alt="...">
                <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
            </figure>
        </div>
        <div class="container d-flex justify-content-around p-4">
            <figure class="figure">
                <img src="images/produit1.jpeg" class="rounded floart-center img-thumbnail" width="75%" alt="...">
                <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
            </figure>
            <figure class="figure">
                <img src="images/produit3.png" class="rounded floart-center img-thumbnail" width="75%" alt="...">
                <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
            </figure>
            <figure class="figure">
                <img src="images/produit2.jpeg" class="rounded floart-center img-thumbnail" width="75%" alt="...">
                <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
            </figure>
        </div>
        <div class="container d-flex justify-content-around p-4">
            <figure class="figure">
                <img src="images/produit2.jpeg" class="rounded floart-center img-thumbnail" width="75%" alt="...">
                <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
            </figure>
            <figure class="figure">
                <img src="images/produit2.jpeg" class="rounded floart-center img-thumbnail" width="75%" alt="...">
                <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
            </figure>
            <figure class="figure">
                <img src="images/produit2.jpeg" class="rounded floart-center img-thumbnail" width="75%" alt="...">
                <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
            </figure>
        </div>
    </main>
{% endblock %}