{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    <h1 >{{ title }}</h1>
{#
-----XXXXmake 3 space grid
------> With white layer display==on hover(opacity==60%) with the title opacity 100% 
-------> [desktop] on hover show some products
-------> mobile on click go to product page 
#}
    <div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="/mode">
                <figure>
                    <img src="https://placehold.it/250x450 " alt="">
                    <h2>MODE</h2>
                </figure>
            </a>
        </div>
        <div class="col-sm">
            <a href="/food">
                <figure>
                    <img src="https://placehold.it/250x450 " alt="">
                    <h2> ALIMENTATION</h2>
                </figure>
            </a>
        </div>
        <div class="col-sm">
            <a href="/beauty">
                <figure>
                    <img src="https://placehold.it/250x450 " alt="">
                    <h2>COSMETIQUE</h2>
                </figure>
            </a>
        </div>
    </div>
    </div>

{% endblock %}
