{% extends "base.html.twig" %}

{% block tilte %}
	Ajout d'un article
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Nouvel article de blog</h1>
		{{ form(formView) }}
		</div>

	{% endblock %}
